body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 14, 42, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px; /* Adjust as necessary */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  
 
}

.input-container {
  
  display: flex;
  align-items: center;
  border: 2px solid #70e6f3;
  overflow: hidden;
  
  
   /* Position the search icon relative to this container */
}

.city-input {
  flex: 1; /* Grow to fill remaining space */
  padding: 10px;
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  
  
  
  
}

.search-icon {
  /* Position the search icon absolutely */
  padding: 0px;
  height: 40px;
  cursor: pointer;
  margin-left: 130px ;
  margin-bottom: 20px;

}
.search-icon img {
  height: 60px;
  margin-left: 30px;
  
 
  
  
}

.image{
  text-align: center;
  height: 150px;
  margin-bottom: 20px;
}

.image img{
  width: 150px;
  height:160px;
}

.temp,.location,.country{
  margin-top: 5px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.temp {
  font-weight: 600;
}

.location{
  color: red;
  font-weight: 800;
  font-size: 30px;
}

.country{
  font-weight: 400;
  font-size: 20px;
}

.cord{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.element img{
  width:90px;
  height: 70px;
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element{
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 20px;
  color: #888;
}

.copyright span {
  color:#333;
}

.citynotfound,
.loading-message,
.error-message{
  margin-top: 10px;
  color:#888;
  font-size: 26px;
  font-weight:400;
  text-align: center;
}



@media (max-width: 1200px) and (min-width: 769px) {

  .container {
    width: 300px;
    padding: 15px;
  }

  .search-icon {
    margin-left: 100px;
  }
}

